<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/modern-normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>FuskerBrothers | Welcome</title>
  </head>

  <body>
    <header>
      <h1>
        <span class="brand">FuskerBrothers</span>
      </h1>
      <nav>
        <!-- <a href="/">Home</a>
        <a href="about.html">About</a>
        <a href="contactus.html">Contact Us</a>
        <a href="info.html">Projects</a> -->
        <% if (!user) { %>
            <a href="/login">Log In</a>
            <a href="/register">Sign Up</a>
        <% } else { %>
            <a href="#">Signed in as <%= user.username %></a>
            <a href="/logout">Log Out</a>
        <% } %>
      </nav>
      </div>
    </header>

    <% if (error && error.length > 0) { %>
    <div class="alert">
      <p class="alert--content alert--error"><%= error %></p>
    </div>
    <% } %>
    <% if (success && success.length > 0) { %>
    <div class="alert">
      <p class="alert--content alert--success"><%= success %></p>
    </div>
    <% } %>