body{
font: 15px/1.5 Arial, Helvetica, sans-serif;
padding:0;
margin:0;
background-color:#f4f4f4;
}

/* Global */
.container{
width:-80%;
margin:auto;
overflow:hidden;
}

ul{
margin:0;
padding:0;
list-style-type: none;
}

.button_1{
height:38px;
background:#e8491d;
border:0;
padding-left: 20px;
padding-right: 20px;
color:#ffffff;
}

.dark{
padding:15px;
background:#35424a;
color:#ffffff;
margin-top:10px;
margin-bottom:10px;
}

/* Header */
header{
background:#35424a;
color:#ffffff;
padding-top:-3px;
min-height:-70px;
border-bottom:#e8491d 5px solid;
}

header{
  min-height:20px;
  background:url('Yamaka.png') no repeat 0 -400px;
  text-align:left;
  color:#ffffff;
}

header a{
color:#ffffff;
text-decoration:none;
text-transform: uppercase;
font-size:16px;
}

header li{
float:left;
display:inline;
padding: 0 20px 0 20px;
}

#info{
  font:24px/1.5 Arial, Helvetica, sans-serif;
}

#infosize{
  font:24px/1.5 Arial, Helvetica, sans-serif;
}

#Super{
  font:27px/1.5 Arial, Helvetica, sans-serif;
  background-color:#f4f4f4;
}

header #branding{
float:left;
}

header #branding h1{
margin:0;
}

header nav{
float:right;
margin-top:10px;
}

header .highlight, header .current a{
color:#e8491d;
font-weight:bold;
}

header a:hover{
color:#cccccc;
font-weight:bold;
}

/* Showcase */
#showcase{
min-height:400px;
background:url('../img/showcase.jpg') no-repeat 0 -400px;
text-align:center;
color:#ffffff;
}

#showcase h1{
margin-top:100px;
font-size:55px;
margin-bottom:10px;
}

#showcase p{
font-size:20px;
}

/* Newsletter */
#newsletter{
padding:15px;
color:#ffffff;
background:#35424a
}

#newsletter h1{
float:left;
}

#newsletter form {
float:right;
margin-top:15px;
}

#newsletter input[type="email"]{
padding:4px;
height:25px;
width:250px;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 20px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

/* Social Media Links */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

/* -Webkit-keyframes queriees */
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

/* Keyframes queries */
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Boxes */
#boxes{
margin-top:20px;
}

#boxes .box{
float:left;
text-align: center;
width:30%;
padding:16px;
}

#boxes .box img{
width:90px;
}

/* About */
aside#sidebar{
  width:30%;
  margin-top:10px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside{
  position: relative;
  bottom: 15px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
width:85s%;
padding:5px;
}

/* Main-col */
article#main-col{
float:left;
width:60%;
margin-top:-0.5%;
}

/* Services */
ul#services li{
list-style: none;
padding:20px;
padding-center:20px;
border: #cccccc solid 1px;
margin-bottom:15px;
background:#e6e6e6;
}

#Hello123{
  position: relative;
}

footer{
padding:20px;
margin-top:20px;
margin-bottom:-21px;
color:#ffffff;
background-color:#e8491d;
text-align: center;
}

#forgotpassfoot{
  position: bottom;
}

/* Media Queries */
@media(max-width: 768px){
header #branding,
header nav,
header nav li,
#newsletter h1,
#newsletter form,
#boxes .box,
article#main-col,
aside#sidebar{
  float:none;
  text-align:center;
  width:100%;
  margin-bottom:25%;
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }

header{
  padding-bottom:20px;
}

#showcase h1{
  margin-top:40px;
}

#newsletter button, .quote button{
  display:block;
  width:100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

#newsletter form input[type="Email"], .quote input, .quote textarea{
  width:100%;
  margin-bottom:-5px;
}

#main {
align: center;
}

}
