<% include ../partials/header %>
  <div class="row">
    <div class="col-md-4">
      <h1>
        <%= foundUser.username %>
      </h1>
    </div>
    <div class="col-md-8">
    </div>
  </div>
<% include ../partials/footer %>